In [34]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from ast import literal_eval

In [35]:
data_movies = pd.read_csv('C:\\Users\\ujwal\\Downloads\\movies.csv',na_filter=False)

data_credits = pd.read_csv('C:\\Users\\ujwal\\Downloads\\credits.csv')

In [36]:
#Merge credits and movie datasets on movie_id
data_movies = data_movies.merge(data_credits,on='movie_id')

In [37]:
data_movies = data_movies.drop(columns=['title_x','title_y', 'tagline', 'status', 'homepage', 
                                        'keywords','crew','vote_count', 'vote_average',
                                       'tagline', 'spoken_languages', 'runtime',
                                       'popularity', 'production_companies', 'budget',
                                       'production_countries','release_date', 'revenue',
                                         'original_language'])

data_movies.head(5)

,genres,movie_id,original_title,overview,cast
0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10751, ""...",426469,Growing Up Smith,"In 1979, an Indian family moves to America wit...","[{""cast_id"": 4, ""character"": ""Smith Bhatnagar""..."
1,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",325373,Two Lovers and a Bear,Set in a small town near the North Pole where ...,"[{""cast_id"": 0, ""character"": ""Roman"", ""credit_..."
2,"[{""id"": 18, ""name"": ""Drama""}]",374461,Mr. Church,A unique friendship develops when a little gir...,"[{""cast_id"": 6, ""character"": ""Henry Church"", ""..."
3,"[{""id"": 12, ""name"": ""Adventure""}]",385736,Kicks,When his hard-earned kicks get snatched by a l...,"[{""cast_id"": 2, ""character"": ""Marlon"", ""credit..."
4,"[{""id"": 18, ""name"": ""Drama""}]",339408,The Birth of a Nation,"Nat Turner, a former slave in America, leads a...","[{""cast_id"": 2, ""character"": ""Nat Turner"", ""cr..."

In [38]:
#Rename Overview Column to Plot
data_movies.rename(columns = {'overview':'plot'}, inplace = True)

In [39]:
#Convert cast and genre column to proper format
features = ['cast', 'genres']
for feature in features:
    data_movies[feature] = data_movies[feature].apply(literal_eval)

In [40]:
#Pick only top 3 genre and cast from respective columns
def get_list(meta_data):
    if isinstance(meta_data, list):
        names = [col['name'] for col in meta_data]
        if len(names) > 3:
            names = names[:3]
        return names
    return []

features = ['cast','genres']
for feature in features:
    data_movies[feature] = data_movies[feature].apply(get_list)

In [41]:
data_movies.to_csv (r'C:\Users\ujwal\Downloads\Recommendations_DataSet_Movie.csv', index = False, header=True)

In [42]:
data_movies = pd.read_csv(r'C:\Users\ujwal\Downloads\Recommendations_DataSet_Movie.csv')

In [43]:
#Null values were found in exported excel
data_movies.isnull().sum()

genres            0
movie_id          0
original_title    0
plot              3
cast              0
dtype: int64

In [44]:
#Remove NA from exported excel and export the excel back
data_movies = data_movies.dropna()

,genres,movie_id,original_title,plot,cast
0,"['Comedy', 'Family', 'Drama']",426469,Growing Up Smith,"In 1979, an Indian family moves to America wit...","['Roni Akurati', 'Brighton Sharbino', 'Jason L..."
1,"['Drama', 'Romance']",325373,Two Lovers and a Bear,Set in a small town near the North Pole where ...,"['Dane DeHaan', 'Tatiana Maslany', 'Gordon Pin..."
2,['Drama'],374461,Mr. Church,A unique friendship develops when a little gir...,"['Eddie Murphy', 'Britt Robertson', 'Natascha ..."
3,['Adventure'],385736,Kicks,When his hard-earned kicks get snatched by a l...,"['Mahershala Ali', 'Kofi Siriboe', 'Christophe..."
4,['Drama'],339408,The Birth of a Nation,"Nat Turner, a former slave in America, leads a...","['Nate Parker', 'Armie Hammer', 'Aja Naomi King']"
...,...,...,...,...,...
995,"['Thriller', 'Action', 'Drama']",77866,Contraband,When his brother-in-law runs afoul of a drug l...,"['Mark Wahlberg', 'Kate Beckinsale', 'Ben Fost..."
996,"['Thriller', 'Horror']",76487,The Devil Inside,"In Italy, a woman becomes involved in a series...","['Fernanda Andrade', 'Simon Quarterman', 'Evan..."
997,[],137955,Crowsnest,"In late summer of 2011, five young friends on ...",[]
998,"['History', 'Drama']",71688,The Iron Lady,"A look at the life of Margaret Thatcher, the f...","['Meryl Streep', 'Anthony Stewart Head', 'Harr..."
999,"['Comedy', 'Romance']",72766,Newlyweds,A newlywed couple's honeymoon is upended by th...,"['Edward Burns', 'Kerry Bishé', 'Marsha Dietle..."

In [45]:
data_movies.to_csv (r'C:\Users\ujwal\Downloads\Recommendations_DataSet_Movie.csv', index = False, header=True)